<div [@routerTransition]>
  <div class="form-group">
    <h1> <div style="color: red;"><img  class="images" with="20" height="20" src="assets/live.gif"> LIVE </div> Covid 19 stats {{countryName}} <img  class="images" class="images" with="20" height="20" src={{COVID_DATA.countryInfo.flag}}></h1>
    
  </div>
    <div>
      <form [formGroup]="countryForm" (ngSubmit)="onFormSubmit()">
        <mat-form-field>
          <mat-label>Select Country</mat-label>
          <mat-select formControlName="country" (selectionChange)="onCountryChange()">
            <mat-option *ngFor="let country of COVID_DATA_ARRAY" [value]="country">
              {{country.country}}  <img  class="images" with="10" height="10" src={{country.countryInfo.flag}}>
            </mat-option>
          </mat-select>
        
        </mat-form-field>
        </form>
    </div>
    <div class="form-group">
      <table class="table table-dark table-hover">
        <thead>
           <tr>
            
              <th style="color:orangered">Total Cases</th>
              <th style="color:orange">Active Cases</th>
              <th style="color:lawngreen">Recovered Cases</th>
              <th style="color: lightgrey">Deaths</th>
             
           </tr>
        </thead>
        <tbody>
          <tr>
            
             <td style="color:orangered">{{totalCases}} </td>
             <td style="color:orange">{{activeCases}} + {{COVID_DATA.todayCases}} new cases today</td>
             <td style="color:lawngreen">{{recoveredCases}}</td>
             <td style="color:lightgrey">{{deathCases}}  + {{COVID_DATA.todayDeaths}} deaths today </td>
           
             
          </tr>
       </tbody>
    </table>
         
      </div>
 
     
<div class="chart-wrapper" *ngIf="pieChartData">
    <canvas baseChart 
    [data]="pieChartData" 
    [labels]="pieChartLabels" 
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>
</div>

            <div class="card-body" *ngIf="polarAreaChartData1">
                <canvas baseChart  [data]="polarAreaChartData1" [labels]="polarAreaChartLabels1" [legend]="polarAreaLegend1" [chartType]="polarAreaChartType1" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
      

            <div class="chart-wrapper" *ngIf="pieChartData1">
              <canvas baseChart 
              [data]="pieChartData1" 
              [labels]="pieChartLabels1" 
              [chartType]="pieChartType1"
              [options]="pieChartOptions1"
              [plugins]="pieChartPlugins1"
              [legend]="pieChartLegend1">
            </canvas>
          </div>

     
<div class="row" style="width: 100%;">
        
  <div class="col-sm-4">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header">Recovery Rate</div>
        <div class="card-body">
            <h4 class="card-title">{{recoveryRate}}%</h4>
           
        </div>
    </div>
    
</div>
        <div class="col-sm-4">
          <div class="card text-white bg-dark mb-3">
              <div class="card-header">Fatality Rate</div>
              <div class="card-body">
                  <h4 class="card-title">{{fatalityRate}}%</h4>
                 
              </div>
          </div>
          
      </div>
      <div class="col-sm-4">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">Critical Cases</div>
            <div class="card-body">
                <h4 class="card-title">{{criticalCasesRate}}%</h4>
               
            </div>
        </div>
        
    </div>
    </div>
</div>

  
        
  
